# Environment Variables.
# Copy this file to `.env` and enter your personal configuration details.

# Affirm API keys.
# Use your test keys for development and live keys for real charges in production.
# For non-card payments like iDEAL, live keys will redirect to real banking sites.
AFFIRM_PUBLIC_KEY=D61DY07EIUOBE2I8
AFFIRM_PRIVATE_KEY=A3aut6z2VemhGHPgYF6uBFqczAm4VyyJ

# Affirm Financial Product Keys
AFFIRM_FINANCIAL_KEY=OXI1Z8JD2JG3X6F3

# Optional ngrok configuration for development (if you have a paid ngrok account).
NGROK_SUBDOMAIN=
NGROK_AUTHTOKEN=