/**
 * affirm.css
 * Affirm Payments Demo.
 */

body {
	background: rgba(95,168,236,1);/* Old Browsers */
	background: -moz-linear-gradient(top, rgba(95,168,236,1) 0%, rgba(15,160,234,0.35) 100%); /* FF3.6+ */
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,168,236,1)), color-stop(100%, rgba(15,160,234,0.35)));/* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, rgba(95,168,236,1) 0%, rgba(15,160,234,0.35) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(95,168,236,1) 0%, rgba(15,160,234,0.35) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(95,168,236,1) 0%, rgba(15,160,234,0.35) 100%); /* IE 10+ */
	background: linear-gradient(to bottom, rgba(95,168,236,1) 0%, rgba(15,160,234,0.35) 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa8ec', endColorstr='#0fa0ea', GradientType=0 );/* IE6-9 */
	font-family: 'proxima-nova-semibold', -apple-system,BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}

/* Container */

.container {
  max-width: 960px;
  padding-top:30px;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: #fff url(/images/affirm-logo.svg) center center no-repeat;
  background-size: 70px 80px;
  border-bottom: 1px solid #f3f3ff;
}

header a.shop,
header a.github {
  margin: 30px;
  font-size: 13px;
  font-weight: 500;
  color: #0fa0ea;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  text-decoration: none;
}

header a.github {
  padding-left: 20px;
  background: url(/images/github-logo-black.svg) left center no-repeat;
}

header a:hover {
  text-decoration: underline;
}

/* Affirm template */

form {margin:20px 0;}

#payment_method-affirm{ margin:0 0 10px 10px;}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }